body 
{
	background-color: #1F1F1F;
	font-family: 'Exo 2', sans-serif;
}

#main-body
{
	margin-top: 2%;
}

.row .intro
{
	padding: 0 4%;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Exo 2', sans-serif;
}

.welcome {
    font-size: 24px;
    text-indent: 0px;
    line-height: 30px;
}

.auth {
    text-align: right;
    font-size: 16px;
}

#profile_pic
{
	border-radius: 50%;
}

#name
{
    padding-top: 30px;
    letter-spacing: 1px;
}

#address
{
	list-style: none;
    margin: 0px;
}

.social a {
    font-size: 20px;
    text-decoration: none;
    margin: 5px 2px;
}